/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4 url('logo.png') no-repeat center center fixed;
    background-size: 40%;
    color: #333;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

h1 {
    color: #fff;
}

h2, h3 {
    color: #0056b3;
}

/* Cabeçalho */
header {
    background: #004EA2;
    color: #fff;
    padding: 1rem;

    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo img {
    height: 200px;
    width: auto;
    margin-bottom: 0.5rem;
    margin-top: 50px;
}

header h1 {
    margin-bottom: 0.25rem;
}

header p {
    margin-top: -20px;
    margin-bottom: 0;
}

/* Navegação */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f0f0f0;

}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite quebrar linha se necessário */
  padding: 0;
  margin: 0;
  list-style: none;
}


.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.menu li a:hover {
  background-color: rgb(147, 156, 241);
  border-radius: 4px;
}


/* Conteúdo Principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    text-align: justify;
}

section h2, h3 {
    text-align: center;
}

#geral_produto {
    margin-bottom: 20px;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    display: flex;
}

.institucional {
    text-align: left;
    font-size: 20px;
}

.container {
  display: flex; /* Habilita o flexbox no container */
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
}

.img_produto img{
    height: 500px;
    width: auto;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 255, 0);
}



/* Grid de Produtos */
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.grid-fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

img.foto {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.representante {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}
.produto {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}



/* Seção de Contato */
#contatocom {
    text-align: center;
}

#contatocom a {
    color: #0056b3;
    text-decoration: none;
    margin: 0 10px;
}

#contatocom a:hover {
    text-decoration: underline;
}

/* Seção de Localização */
#localizacao {
    text-align: center;
}

#localizacao a {
    color: #0056b3;
    text-decoration: none;
    margin: 0 10px;
}

#localizacao a:hover {
    text-decoration: underline;
}


/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}

.gian {
    font-weight: bold;
    font-size: 25px;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        background-size: 100%;
    }

    header {
        padding: 0.5rem;
        margin-top: 50px;
    }

    .logo img {
        height: 100px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
        margin-top: -10px;
    }

    nav {
        font-size: smaller;
        padding: 0.5rem 0;
    }


    main {
        padding: 10px;
    }

    .grid-produtos {
        grid-template-columns: 1fr;
    }

    .grid-fotos {
        grid-template-columns: 1fr;
    }

    .institucional {
        font-size: 18px;
    }

    .img_produto img {
        height: auto;
        width: 100%;
    }

    #geral_produto {
        flex-direction: column;
    }
      .menu {
        flex-wrap: wrap;
    }

}
